
	/* core.css - 3 - for coutries.php  */

	/* Global Rules */

	body{
		margin: 0;
		background: #fafafa;
		font-family: Arial;
	}

	div{
		text-align: center;
		margin: 0 auto;
	}

	p, h1, h2{
		margin: 0;
	}

	.a{
		position: absolute;
	}

	.r{
		position: relative;
	}

	.w{
		width: 100%;
	}

	/* Header Container */

	#hc{
		background: #239c84;
		height: 10px;
		color: #fff;
		border-bottom: 10px #138c88 solid;
	}

	/* Solution Wrap */

	.sw{
		padding: 40px 0 40px;
		width: 800px;
		max-width: 85%;
		color: #444;
	}

	/* Solution Error */

	.sw > h2{
		padding-bottom: 30px;
		color: #b05e5e;
		font-size: 0.9em;
	}

	/* Solution Title */

	.sw > h1{
		text-shadow: 2px 4px #e8e8e8;
		margin: 0 0 20px;
		font-size: 1.5em;
	}

	/* Solution Types */

	#st{
		max-width: 480px;
		border-bottom: 1px #ccc solid;
		padding-bottom: 10px;
	}

	/* Solution Types Links */

	#tf > input{
		display: inline-block;
		font-weight: bold;
		color: #1b869e;
		text-decoration: none;
		padding: 2px;
		margin: 2px 3px;
		cursor: pointer;
		font-size: 1em;
		border: 0;
		background: none;
	}
	#tf > input:hover{
		color: #239C84;
	}

	/* Solution Selected */

	#ss{
		padding-top: 10px;
		color: #555;
		font-weight: bold;
		font-size: 1.5em;
	}

	/* Solution */

	.s{
		text-align: justify;
		padding-bottom: 40px;
	}

	/* Solution Form */

	#f{
		margin: 5px auto;
		width: 320px;
		max-width: 480px;
	}

	#f > div{
		text-align: left;
		border-bottom: 1px #aaa solid;
		padding: 10px 0;
		font-size: 1em;
		line-height: 1.1em;
	}

	#f label{
		cursor: pointer;
	}

	/* Form Register/Sign Button */

	#f > .fr{
		font-family: Arial;
		cursor: pointer;
		background: #28d5c3;
		color: #fff;
		border-radius: 5px;
		text-shadow: 1px 1px #2eaa8f;
		border: 0;
		border-right: 2px #33b1a4 solid;
		border-bottom: 2px #33b1a4 solid;
		font-weight: bold;
		padding: 12px 0;
		font-size: 100%;
		margin-top: 20px;
		width: 250px;
	}
	#f > .fr:focus, #f > .fr:hover{
		color: #fff;
		background: #28b9aa;
	}

    /* Back Button */

    #bb{
		display: block;
		margin: 60px auto 0;
		width: 200px;
		max-width: 95%;
		font-size: 90%;
		padding: 12px 0;
		cursor: pointer;
		background: #1fcfa4;
		color: #fff;
		border-radius: 5px;
		text-shadow: 1px 1px #2eaa8f;
		text-decoration: none;
		font-weight: bold;
		border-right: 2px #26b18f solid;
		border-bottom: 2px #26b18f solid;
    }
    #bb:hover{
		background: #4cdeba;
    }

	/* Footer */

	#ft{
		padding: 40px 0 20px;
		color: #444;
		border-top: 10px #ddd solid;
	}

	/* Footer Extra */

	.fe{
		font-size: 75%;
		color: #999;
		max-width: 90%;
		margin: 0 auto;
	}